[package]
name = "fs_test"
version = "0.0.0"
edition = "2021"
publish = false

[dependencies]
wit-bindgen = "0.52.0"

[lib]
crate-type = ["cdylib"]

[profile.release]
codegen-units = 1
opt-level = "s"
debug = false
strip = true
lto = true
